@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin fontHeading() {
  font-family: "DM Serif Display", serif;
}

@mixin fontBody($wheigt: 400) {
  font-family: "Karla", sans-serif;
  font-weight: $wheigt;
}
