@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin fontHeading($size: 2rem) {
  font-family: "DM Serif Display", serif;
  font-weight: normal ;
  font-size: $size;
  line-height: 0.8;
}

@mixin fontBody($wheigt: 400) {
  font-family: "Karla", sans-serif;
  font-weight: $wheigt;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin link {
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  color: $grayish-blue;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.75rem;

  &:hover {
    color: $very-dark-violet;
  }

  &__btn {
    color: $very-dark-violet;
    padding: 0.75rem 2rem;
    border: 2px solid currentColor;

    &:hover {
      color: $very-light-gray;
      background-color: $very-dark-violet;
    }
  }
}
