// COLORS

// Primary
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);

// Neutral
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

// SPACES
$space: 0.75rem;
$space-1: 1.25rem;
$space-2: 2rem;
$space-3: 3rem;
$space-6: 6rem;
$space-10: 10rem;
