.header {
  padding: 2rem 0;
  background-color: white;
  // @include mobile {
  //   position: fixed;
  //   width: 100%;
  // }

  nav.container {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    @include flexCenter;
  }

  &__menu {
    @include flexCenter;
    @include mobile {
      display: none;
      // justify-content: flex-start;
      // padding: 4.5rem 1.25rem;
      // flex-direction: column;
      // position: fixed;
      // top: 96px; // Depois ver uma melhor pratica para isso
      // right: 0;
      // width: 100%;
      // height: calc(100vh - 96px);
      // background-color: $very-dark-violet;
    }
  }

  &__item {
    & + & {
      margin-left: 0.75rem;
    }
  }

  &__burger {
    display: none;
    @include mobile {
      display: block;
      background: url("../images/icon-hamburger.svg");
      height: 32px;
      width: 32px;
      cursor: pointer;

      &:hover {
        filter: invert(100%);
        opacity: 0.9;
      }

      &--active {
        background: url("../images/icon-close.svg");
      }
    }
  }
}
