.intro {
  background-color: $very-dark-violet;
  position: relative;

  height: 600px;

  @include mobile {
    height: fit-content;
  }

  &__pattern--left,
  &__pattern--right {
    position: absolute;
  }

  &__pattern--left {
    left: 0;
    bottom: -40%;
    width: 180px;
    display: flex;
    justify-content: flex-start;
  }

  &__pattern--right {
    right: 0;
    top: 0;
    width: 380px;
    display: flex;
    justify-content: flex-end;
  }

  .container {
    display: flex;
    padding-top: 7rem;
    padding-bottom: 7rem;

    @include mobile {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 3rem;
    }
  }

  &__texts {
    flex: 1;
    color: white;
    margin-top: 4rem;

    p {
      margin-top: 1.5rem;
      line-height: 1.7;
      font-weight: normal;
    }

    @include mobile {
      text-align: center;
    }
  }

  &__btn {
    color: white;
    display: block;
    width: fit-content;

    margin-top: 2rem;

    &:hover {
      color: $very-dark-violet;
      background-color: #fff;
    }

    @include mobile {
      margin: 3rem auto 0;
    }
  }

  &__image {
    flex: 1;
    margin-left: 2rem;
    // background: url("../images/image-intro-desktop.jpg");

    @include mobile {
      order: -1;
      min-width: 100%;

      margin-left: -1.25rem;
      margin-right: -1.25rem;
      img {
        min-width: 100%;
      }
    }
  }
}
